{% extends 'layout.html' %}
{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
{% endblock estilo %}
    

{% block title %}
    Início
{% endblock title %}


{% block conta %}

    <div class="login">
        <a href="{% url 'login' %}" ><button type="button" style="text-align: end;">Login</button></a>
    </div>

{% endblock conta %}


{% block navbar %}

    <a class="nav-link active" aria-current="page" href="{% url 'lojas' %}">Lojas</a>
    <a class="nav-link" href="{% url 'computadores' %}">Computadores</a>
    <a class="nav-link" href="{% url 'tablets' %}">Tablets</a>
    <a class="nav-link" href="{% url 'drones_camera' %}">Drones e Câmaras</a>
    <a class="nav-link" href="{% url 'audio' %}">Áudio</a>
    <a class="nav-link" href="{% url 'mobile' %}">Mobile</a>
    <a class="nav-link" href="{% url 'tv_home_theater' %}">TV e home theater</a>
    <a class="nav-link" href="{% url 'tec_vestivel' %}">Tecnologia vestivel</a>
    <a class="nav-link" href="{% url 'promocoes' %}">Promoções</a>

{% endblock navbar %}


{% block body %}

{% endblock body %}
    